@charset "utf-8";
/* 首页系统公告浮动 */
/* CSS Document */
/* 首页系统公告浮动_左下版 */
.main0{ width:260px; height:200px; position:fixed; _position:absolute; _bottom:auto;bottom:60px; border:1px solid #ccc;background-color:#ffffff;}
.main9{ width:240px; height:180px; position:relative; padding:10px; }
.main9 ul{width:100%; height:100%; padding-left:10px; overflow:hidden; list-style:none;}
.main9 ul b{color: #2e3c79;}
.main9 ul li{ width:100%; height:100%; line-height:24px; text-align:left;  }
.main9 ul li a{ color:#444; text-decoration:none;}
.main9 ul li a:hover{ text-decoration:none; color:#C00;}
.main9 ul li p{ width:93%; }
.main9 ul li p a{ color:#777;}
.main9 ul li p a:hover{ color:#777; text-decoration:underline;}
.bar{ width:25px; height:105px; position:absolute; right:-25px; top:-1px; background:url(../images/mini_bg.png) no-repeat; display:block;}

