@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
}


div.table ul.nav li{ 
	width: 120px;
	height:30px; 
	cursor:pointer;
	border-top:0px solid #b2d4f6;
	border-left:1px solid #b2d4f6;
	border-right:1px solid #b2d4f6;
	border-bottom:1px solid #b2d4f6;
	background:url(../images/menu-tab-over.png) no-repeat;
}
div.table ul.nav li:hover{ 
	background:url(../images/menu-tab-out.png) no-repeat;
}
div.table ul.nav > li{ 
	float: left; 
	margin-right:10px;
}
div.table ul.nav li h4{
	height: 30px; 
	line-height: 30px; 
	padding-left:10px;
	color: #ffffff;
}
div.table ul.nav > li > h4{ background: #4a74ff;}
div.table ul.nav > li > ul > li{ width: 140px; }
div.table ul.nav > li > ul > li h4{ background: #6196ff; padding-left:10px; color: #ffffff;}
div.table ul.nav > li h4:hover,.choice{ background: #b2d4f6; background: #b2d4f6!important; color:#666666;}
div.table ul.nav > li > ul,div.table ul.nav > li > ul.over{ position:  absolute; top: 0; right: -142px;}
div.table ul.nav > li > ul{ display: none; }
div.table ul.nav > li > ul.over{ display: block; }
div.table ul.nav li{ position: relative;}
/* div.table ul.nav > li > ul > li ul{ position:  absolute; top: 0; right: -140px;} */
div.table ul.nav span.sub{ position: absolute; display: block; right:10px; top: 0; width: 10px; height: 40px; background: url(../images/arrows.png) no-repeat 3px 10px;}




.contentTdDiv {
	width: 470px;
	min-height: 300px;
	z-index: 7;
	border-top: 1px solid #ccc;
}

.secondContentDiv {
	background-color: #d0e5ff;
	background-image:url(../images/menu-tab-out.png) no-repeat;
	border-left: 1px solid #ccc;
/* 	border-top: 1px solid #ccc; */
	border-bottom: 1px solid #ccc;
	color: black;
	width: 140px;
	height:30px;
	font-family: 'Lato', 'FontAwesome', Helvetica;
	font-size: 12px;
	font-weight: 300;
	z-index: 10;
	padding:0px;
}

.secondContentDiv p {
	position:relative;
	padding: 3px 0 0 10px;
	line-height: 25px;
}

/* .secondContentDiv p:hover */
/* { */
/* 	background: #F1F8FF; */
/* 	color: #0090ff; */
/* 	cursor: pointer; */
/* } */
.p_hover {
/* 	border-left: 1px solid red; */
/* 	border-top: 1px solid red; */
/* 	border-bottom: 1px solid red; */
	z-index:11;
	background: #F1F8FF;
	background-image:url(../images/menu-tab-over.png) no-repeat;
	color: #0090ff;
	cursor: pointer;
}

.currentSubmenu {
	width: 350px;
	min-height: 300px;
	position: absolute;
	top: 0px;
	left: 140px;
	z-index: 9;
}

.topsub {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 330px;
	min-height: 300px;
	background: #F1F8FF;
}

.topsub h4 {
	font-weight:bold;
	padding-left: 8px;
	display: block;
	float: left;
	color: #0090ff;
	width:100px;
}

.topsub dl {
	overflow: hidden;
	display: block;
}

.topsub dl dd {
	float: left;
	display: block;
	overflow: hidden;
}

.topsub dl dd a {
	width: 100px;
	float: left;
	display: block;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	padding: 0 5px;
	text-decoration: none;
	white-space: nowrap;
}

.topsub dl dd a:hover {
	color: #ff0000;
}